body {
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
}

#detail {
    min-height: 100vh;
    background-image: url('/countries.png');
    background-size: cover;
    background-position: center;
}

#form {
    min-height: 100vh;
    overflow-y: hidden;
}